<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Logo" th:src="@{/images/logo.png}" height="20px" width="20px" />										
				</a>
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Cadastros</a></li>
					<li><a href="#">Lançamentos</a></li>
					<li><a href="#">Consultas</a></li>
				</ul>
			</div>
			
		</div>
	</nav>
	  
</html>