<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPaginas">
<head>
	<title>Listagem de despesas</title>		
</head>

<section layout:fragment="conteudo">
	<div class="clearfix"></div>	
	<div layout:include="MensagemGeral"></div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title eh-titulo-panel">Listagem de despesas</h1>
				<a class="btn btn-primary eh-link-panel" th:href="@{/despesas/novo}">Nova despesa</a>
			</div>
		</div>
		<div class="panel-body">			
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th class="text-center col-md-2">Descrição</th>
							<th class="text-center col-md-2">Dt despesa</th>
							<th class="text-center col-md-2">Dt vencimento</th>
							<th class="text-center col-md-2">Qte Parcelas</th>							
							<th class="text-center col-md-2">Tipo compra</th>
							<th class="text-center col-md-2">Cartão</th>
							<th class="text-center col-md-2">Vencimento (Cartão)</th>
							<th class="text-center col-md-2">Valor</th>
							<th class="col-md-1"></th>
						</tr>
					</thead>
					<tbody>	
						<tr th:each="despesa : ${listDespesa}">
							<td class="text-center" th:text="${despesa.codigo}">&nbsp;</td>
							<td class="text-center" th:text="${despesa.descricao}">&nbsp;</td>
							<td class="text-center" th:text="${{despesa.dataDespesa}}">&nbsp;</td>
							<td class="text-center" th:text="${{despesa.dataVencimento}}">&nbsp;</td>
							<td class="text-center"><span th:if="${despesa.qteParcelas} == 0" th:text="-" /><span th:if="${despesa.qteParcelas} > 0" th:text="${despesa.qteParcelas}" /></td>
							<td class="text-center" th:text="${despesa.tipoDespesa}">&nbsp;</td>
							<td class="text-center" th:text="${despesa.nomeCartao}">&nbsp;</td>
							<td class="text-center" th:text="${{despesa.vencimento}}">&nbsp;</td>
							<td class="text-center" th:text="|${{despesa.valor}}|">&nbsp;</td>
							<td class="text-center">...</td>
						</tr>									
						<tr th:if="${#lists.isEmpty(listDespesa)}">
							<td colspan="10">Nenhuma despesa encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>		
		<div layout:include="DialogoConfirmacaoExclusao"></div>
	</div>
</section>
</html>